@model PagedList.IPagedList<CarRentalDemo.Entities.Car>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="container rent-content">

    <h2>Cars</h2>
    <br />
    @if (User.IsInRole("Admin"))
    {
        <p class="h2">
            @Html.ActionLink("Create New", "Create", "Cars", null, htmlAttributes: new { @style = "color:green" })
        </p>
    }
    <br />

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div>
                        <strong>Brand : </strong> @Html.DisplayFor(modelitem => item.CarBrand.BrendName)
                    </div>

                    <div>
                        <strong>Description : </strong> @Html.DisplayFor(modelitem => item.CarDescription)
                    </div>

                    <div>
                        <img src="@Url.Content(item.CarImage)" style="max-height: 150px" class="img-responsive" />
                    </div>

                    <div>
                        <strong>Price Per Day  : </strong> @Html.DisplayFor(modelitem => item.PricePerDay)
                    </div>

                    <div>
                        <strong>Registration Date : </strong> @Html.DisplayFor(modelitem => item.CarRegistrationDate)
                    </div>

                    <div>
                        <strong>Available For Rent : </strong> @*@(item.Available == true ? "Available" : "Unavailable")*@
                        @if(item.Available == true)
                        {
                            <b style="color:green">Available</b>
                        }
                        else
                        {
                            <b style="color:red">Unavailable</b>
                        }
                    </div>
                    <br />
                    <div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div>
                                @Html.ActionLink("Edit", "Edit", "Cars", routeValues: new { id = item.CarID }, htmlAttributes: new { @style = "color:green;font-size:150%" }) |
                                @Html.ActionLink("Delete", "Delete", "Cars", routeValues: new { id = item.CarID }, htmlAttributes: new { @style = "color:green;font-size:150%" })
                            </div>
                        }

                    </div>
                    <div>
                        @Html.ActionLink("Rent", "SelectedCar", "Rents",new { id=item.CarID}, htmlAttributes: new { @style = "color:black", @class = "btn btn-danger btn-lg" })
                    </div>
                </div>
            }
            <br />
        </div>
    </div>

    <br />


    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>